{
    "plugins": [
      [
        "dotenv-import",
        {
          "moduleName": "@env",
          "path": ".env",
          "blocklist": null,
          "allowlist": null,
          "safe": false,
          "allowUndefined": false
        }
      ],
      ["babel-plugin-inline-import",
      {
        "extensions": [".svg"]
      }]
    ]
  }